##############################
# PRIMER
##############################

# ----------------------------
# Primer API Key
# Must match the environment set with PRIMER_API_ENVIRONMENT 
# ----------------------------

API_KEY=1234-1234-1234-1234


# ----------------------------
# Primer environment: SANDBOX or PRODUCTION
# ----------------------------

PRIMER_API_ENVIRONMENT=SANDBOX
# PRIMER_API_ENVIRONMENT=PRODUCTION


##############################
# SERVER
##############################

PORT=8880