body {
  display: grid;
  place-items: center;

  background: #f0f0f0;
  font-family: Arial, Helvetica, sans-serif;
}

#checkout-container {
  overflow: hidden;
  margin: 32px;
  width: 500px;
  padding: 32px;

  background: white;
  border-radius: 8px;
  box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.1);
}
